<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>

    <ion-buttons slot="end">
      <ion-label>Dark Mode</ion-label>
      <ion-toggle (ionChange)="toggleDarkMode($event)" aria-label="Dark Mode"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)] = "city" placeholder = "Enter city name"></ion-input>
  <ion-button expand = "block" (click) = "getWeather()">Click to display weather</ion-button>
  <p *ngIf="weatherData">Your latest searched city: {{ weatherData.name }}</p>

  <div *ngIf="weatherData?.weather">
    <h2>Weather in {{ weatherData.name }}</h2>
  <div *ngFor="let w of weatherData.weather" style="display: flex; align-items: center; gap: 10px;">
    <p>{{ w.main }} - {{ w.description }}</p>
    <img [src]="'https://openweathermap.org/img/wn/' + w.icon + '@2x.png'" alt="Weather icon" style="width: 60px; height: 60px;">
  </div>

  <!-- Displays current temperature -->
  <p style="margin: 0">{{ temperature }} °C</p>
</div>
</ion-content>
